.searchContainer {
  display: flex;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 50px;
  gap: 30px;

  & .searchbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  & h4 {
    font-size: 24px;
    font-weight: 500;
  }
  & .searchGroup {
    position: relative;

    & input {
      border: none;
      background: transparent;
      height: 45px;
      width: 360px;
      border-bottom: 1px solid #ddd;
    }

    img {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;

  & .filtersGroup {
    display: flex;
    gap: 10px;
  }

  & .filterItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    height: 35px;
    padding: 10px 12px;
    border-radius: 20px;
  }
}
