.writeOuterContainer {
 background-color: #f5f5f5;
 padding: 30px;
}

.writeContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 color: #6D6B6B;
 background-color: #fff;
 padding: 35px 20px;
 border-radius: 10px;

 input[type="text"], .writeTx {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 8px 10px;
 }

 display: flex;
 flex-direction: column;
 max-width: 1080px;
 margin: 0 auto;



 h2 {
  text-align: center;
 }

.writeWrapper {
 margin-top: 86px;
 margin-bottom: 100px;
 display: flex;
 flex-direction: column;
 gap: 30px;
}

 .writeItem {
  display: flex;
  gap: 15px;

  label {
   min-width: 111px;
  }
  input {
   width: 60%;
  }
 }

 .writeTx {
  width: 621px;
  height: 289px;
  padding: 10px;
  color: #4d4b4b;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;


  &:focus {
   outline: none;
  }
 }

 .addressWrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;

  .addressNumArea {
   display: flex;
   gap: 10px;

   button {
    width: 106px;
    height: 38px;
    background-color: #d9d9d9;
    color: #787878;
    border: none;
    border-radius: 10px;
   }
  }

  input {
   padding: 8px 10px;
   height: 38px;
  }
  .addressMain {
   width: 203px;
  }

  .addressSub {
   width: 674px;
  }

 }
 .writeBtn {
  background-color: #C84EDB;
  width: 240px;
  height: 52px;
  color: white;
  border: none;
  border-radius: 8px;
 }
 
}
.fileWrapper {
 background-color: #F5F5F5;
 border-radius: 20px;
 padding: 10px;
 display: flex;
 flex-direction: column;
 gap: 4px;
 font-size: 18px;
 color: #B4B4B4;
 justify-content: center;
 align-items: center;
 width: 80px;
 height: 80px;
 cursor: pointer;
 transition: box-shadow 0.3s ease;

 &:hover {
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 }
}

.selectWrapper {
 display: flex;
 width: 100%;
 justify-content: space-between;

& .selectGroup {
 border: 2px solid #B4B4B4;
 border-radius: 15px;
 padding: 15px;
 display: flex;
 flex-direction: column;
 gap: 10px;

 & li {
  color: #9E9E9E;
  font-size: 17px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  min-width: 83px;
  cursor: pointer;
  
  & .active {
   border: 1px solid #C84EDB;
   background-color: #FDEFFF;
   border-radius: 10px;
  }
 }
}
}