.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  opacity: 0;
  transform: translateY(0);
  transition:
    opacity 0.6s ease,
    transform 0.2s ease;
  animation: fadeUp 0.6s forwards ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  & li:not(:first-child) {
    padding: 15px 0;
  }

  & .listInfo {
    color: #9e9e9e;
  }

  & .labelGroup {
    font-size: 12px;
    display: flex;
    gap: 25px;

    & span {
      padding: 1px 15px;
      height: 24px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      border-radius: 5px;
    }

    & .labelA {
      border: #efc5f6 1px solid;
      color: #c84edb;
      background-color: #ffeefe;
    }

    & .labelB {
      color: #fff;
      background-color: #c84edb;
      border: #efc5f6 1px solid;
    }
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
  }
}
